<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body style="width: 100%; margin: 0 0; display: block;">

<div class="row" style="border: solid 1px; margin-left: 15px">

    <b>Поиск: </b>
    <input type="text" id="s1" name="search">
    <button id="button1">Найти</button>

    <script type="text/javascript">
    window.onload = function(){
        var submitbutton = document.getElementById("button1");
        var searchForm = document.getElementById("s1");
        if(submitbutton.addEventListener){
            submitbutton.addEventListener("click", function() {
                var url = "{{ request.path }}?search=" + searchForm.value;
                window.location = url;
            });
        }
    }
    </script>

</div>
<div class="row">
    <div class="col-md-3" style="border: solid 1px">
        <ul>
            {% for model in models %}
                {% if not model.parent %}
                    {% include "compsystems/tree.html" %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="main col-md-9" style="border: solid 1px">
        {% for context_obj in context_objs %}
            {% if context_obj.parent %}
                {% with context_obj=context_obj.parent template_name="compsystems/parent.html" %}
                    {% include template_name %}
                {% endwith %}
            {% endif %}
            <br/>
            {% if context_obj %}
                <a href="{{ request.path }}?model_id={{context_obj.id}}"> {{ context_obj.name }}</a>
                <ul>
                    {{ context_obj.context }}
                </ul>
            {% endif %}
        {% endfor %}
    </div>
</div>

</body>
</html>